configurations/.config/astro/
configurations/.config/chromium/
configurations/.config/configstore/
configurations/.config/htop/
configurations/.config/pulse/
configurations/.config/pypoetry/
configurations/.config/uv/