{{- $variant := .chezmoi.config.scriptEnv.variant | default "workstation" -}}
{{- $install := (index .data.variants $variant).install | default dict -}}

{{- if $install.starship }}

# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Inserts a blank line between shell prompts
add_newline = true

# Use the Catppuccin Mocha color palette
palette = 'catppuccin_mocha'

format = """
$hostname\
$directory\
$git_branch\
$git_state\
$git_status\
$cmd_duration\
$package\
$nodejs\
$python\
$docker_context\
$terraform\
$env_var\
$all\

$fill\

$aws\
$gcloud\
$azure\
$jobs\
$container\
$kubernetes\
$sudo\

$line_break\
$character"""


[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"

[character]
success_symbol = '[❯](green)'
error_symbol = '[❯](red)'

[cmd_duration]
format = '[$duration]($style) '

[container]
format = '[$symbol $name]($style) '
style = 'blue'

[directory]
read_only = ' 󰌾'
style = 'lavender'

[fill]
disabled = false
symbol = " "

[git_branch]
symbol = " "
format = "[$symbol$branch(:$remote_branch)]($style) "

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '

[git_status]
format = '([\[$all_status$ahead_behind\]]($style) )'
style = "bold red"
conflicted = "󰞇 "
ahead = "⇡${count}"
behind = "⇣${count}"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"
untracked = "?${count}"
stashed = "󰏗 "
modified = "!${count}"
staged = "+${count}"
renamed = "»${count}"
deleted = "✘${count}"

[hostname]
ssh_only = true
ssh_symbol = ''
format = '[$ssh_symbol](blue) [$hostname](green) '
disabled = false

[jobs]
style = 'blue'

[kubernetes]
format = '[$symbol$context( \($namespace\))]($style) '
symbol = "󱃾 "
disabled = false
style = 'blue'

[nodejs]
symbol = " "
format = "[$symbol($version )]($style)"
style = "green"

[os]
disabled = true
style = 'fg:red'

[os.symbols]
Alpaquita = " "
Alpine = " "
Amazon = " "
Android = " "
Arch = " "
Artix = " "
CentOS = " "
Debian = " "
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Windows = "󰍲 "

[package]
symbol = "󰏗 "
format = "[$symbol$version]($style) "

[python]
symbol = " "
format = '[${symbol}${pyenv_prefix}(${version} )(\($virtualenv\) )]($style)'
style = "yellow"

[rust]
symbol = " "
format = "[$symbol($version )]($style)"
style = "red"

[shell]
bash_indicator = " "
fish_indicator = '󰈺 '
powershell_indicator = '_'
unknown_indicator = ''
disabled = true

[sudo]
symbol = "󰢏 "
disabled = false
format = "[$symbol]($style)"
style = "red"

[terraform]
symbol = "󱁢 "
format = "[$symbol$workspace]($style) "

[username]
disabled = true

# -----------------------------------------

[aws]
symbol = "  "
disabled = true

[azure]
symbol = "󰠅 "
disabled = true

[battery]
disabled = true

[c]
disabled = true
symbol = " "

[conda]
disabled = true
symbol = " "

[crystal]
disabled = true
symbol = " "

[dart]
disabled = true
symbol = " "

[docker_context]
disabled = true
symbol = " "

[elixir]
disabled = true
symbol = " "

[elm]
disabled = true
symbol = " "

[fennel]
disabled = true
symbol = " "


[fossil_branch]
disabled = true
symbol = " "

[gcloud]
disabled = true
symbol = "󱇶 "

[golang]
disabled = true
symbol = " "

[guix_shell]
disabled = true
symbol = " "

[haskell]
disabled = true
symbol = " "

[haxe]
disabled = true
symbol = " "

[hg_branch]
disabled = true
symbol = " "

[java]
disabled = true
symbol = " "

[julia]
disabled = true
symbol = " "

[kotlin]
disabled = true
symbol = " "

[lua]
disabled = true
symbol = " "

[memory_usage]
disabled = true
symbol = "󰍛 "

[meson]
disabled = true
symbol = "󰔷 "

[nim]
disabled = true
symbol = "󰆥 "

[nix_shell]
disabled = true
symbol = " "

[ocaml]
disabled = true
symbol = " "


[perl]
disabled = true
symbol = " "

[php]
disabled = true
symbol = " "

[pijul_channel]
disabled = true
symbol = " "

[rlang]
disabled = true
symbol = "󰟔 "

[ruby]
disabled = true
symbol = " "

[scala]
disabled = true
symbol = " "

[swift]
disabled = true
symbol = " "

[zig]
disabled = true
symbol = " "

{{ end }}